<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARGUS - {% block title %}Home{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('app.static', filename='css/styles.css') }}">
    <script src="{{ url_for('app.static', filename='js/main.js') }}" defer></script>
    {% block extra_scripts %}{% endblock %}
</head>
<!-- Loader Section -->
<div id="loader">
    <img src="{{ url_for('app.static', filename='css/loader.png') }}" alt="Loading...">
    <p>Loading....</p>
</div>
<div id="content" style="display: none;">
    <!-- Main content goes here -->
</div>
<script src="{{ url_for('app.static', filename='js/script.js') }}" defer></script>

<body>
    <header>
        <nav>
            <a href="{{ url_for('app.index') }}">
                <img src="{{ url_for('app.static', filename='css/Logo.png') }}" id="logo" alt="Logo">
            </a>
            <!-- <img src="{{ url_for('app.static', filename='css/Logo.png') }}" id="logo"> -->
            <div class="nav-links">
                <a href="{{ url_for('app.test') }}">Home</a>
                <!-- <a href="{{ url_for('app.index') }}">Home</a> -->
                <a href="{{ url_for('app.scanner') }}">Scanner</a>
                <a href="{{ url_for('app.report') }}">Report</a>
                
            </div>
            <a href="{{ url_for('app.login') }}" class="button">Login</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ARGUS Project</p>
    </footer>
</body>

</html>