{% extends 'argus/base.html' %}

{% block title %}Scanner Tool{% endblock %}

{% block extra_scripts %}
<link rel="stylesheet" href="{{ url_for('app.static', filename='css/scanner.css') }}">
<script src="{{ url_for('static', filename='js/scanner.js') }}" defer></script>
{% endblock %}

{% block content %}
<section class="scanner-section">
    <div class="scanner-container">
        <!-- <h2 class="section-title">API Vulnerability Scanner</h2> -->
        <form id="scanner-form" action="{{ url_for('app.scanner') }}" method="post">
            <div class="input-group">
                <label for="api-endpoint">Enter API Endpoint:</label>
                <input type="text" id="api-endpoint" name="url" placeholder="https://api.example.com" required>
                <button type="submit" class="scan-button">Run Scan</button>
            </div>
        </form>
    </div>
</section>

<section class="results-section">
    <div class="results-container">
        <div class="result-box" id="owasp-top-10">
            <h3>OWASP Top 10</h3>
            <ul>
                {% if owasp_top_10 %}
                {% for key, value in owasp_top_10.items() %}
                <li>{{ key }}:
                    {% if value is iterable and not value is string %}
                    <ul>
                        {% for subvalue in value %}
                        <li>{{ subvalue }}</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    {{ value }}
                    {% endif %}
                </li>
                {% endfor %}
                {% else %}
                <li>No results yet...</li>
                {% endif %}
            </ul>
        </div>
        <div class="result-box" id="open-api-endpoints">
            <h3>Open API Endpoints</h3>
            <ul>
                {% if endpoints %}
                {% for key, value in endpoints.items() %}
                <li>{{ key }}:
                    {% if value is iterable and not value is string %}
                    <ul>
                        {% for subvalue in value %}
                        <li><a href="{{ subvalue }}" target="_blank">{{ subvalue }}</a></li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    {{ value }}
                    {% endif %}
                </li>
                {% endfor %}
                {% else %}
                <li>No results yet...</li>
                {% endif %}
            </ul>
        </div>
        <div class="result-box" id="owasp-zap-results">
            <h3>OWASP ZAP Results</h3>
            <ul>
                {% if owasp_zap_results %}
                {% for item in owasp_zap_results %}
                <li>{{ item }}</li>
                {% endfor %}
                {% else %}
                <li>No results yet...</li>
                {% endif %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
