{% extends 'argus/base.html' %}

{% block title %}Home{% endblock %}

{% block extra_scripts %}
<link rel="stylesheet" href="{{ url_for('app.static', filename='css/test.css') }}">
{% endblock %}

{% block content %}

<div class="container">
    <section class="home" id="home">
        <div class="max-width">
            <div class="hero-content">
                <h1>Welcome to ARGUS</h1>
                <h2>Your API Security, Our Priority</h2>
                <p>Experience seamless vulnerability detection and protection for your APIs.</p>
                <a href="#services" class="button">Learn More</a>
                </div>
        </div>
    </section>
</div>

<!-- About section -->
<section class="about" id="about">
    <div class="max-width">
        <h2 class="title">Architecture </h2>
        <div class="about-content">
            <div class="Left-column">
                <img src="{{ url_for('app.static', filename='css/Architecture.jpg') }}" alt="Architecture Diagram">
            </div>
            <div class="right-column">
                <div class="text">"An unsecured API is basically shouting 'Free Wi-Fi!' to hackers, but instead of internet, they get your entire data."</div>
                <p>
                <ul>
                    <li>The journey begins by analyzing the input API endpoint, classifying it into specific patterns such as authentication flaws or sensitive data exposure. This ensures targeted and precise vulnerability detection.</li>
                    <br>
                    <li>At the core lies the Argus Scanner, leveraging test cases derived from OWASP standards to simulate attacks and uncover weaknesses. Its adaptive capabilities ensure comprehensive scanning across various API communication protocols.
                    </li>
                    <br>
                    <li>
                        Project Argus excels at identifying critical issues such as Broken User Authentication, Information Disclosure, Insure Deserialization. All findings are compiled into detailed, actionable reports, offering insights into vulnerabilities and recommending mitigation strategies to fortify your APIs. To guarantee data integrity, generated reports are securely stored on blockchain-based platforms like IPFS and Filecoin. This ensures tamper-proof audit trails and reliable long-term storage.
                    </li>
                </ul>
                </p>
                <a href="{{ url_for('app.scanner') }}">Scan Your API Now!</a>
            </div>
        </div>
    </div>
</section>

<!-- Skill section -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">Why Choose Project Argus?</h2>
        <div class="skill-content">
            <div class="middle">
                <div class="text">API VULNERABILITIES</div>
                <li>As web applications  / websites increasingly rely on APIs to connect with mobile apps,</li>
                <li>identifying and addressing vulnerabilities in these communication channels is crucial to ensure secure data exchange.</li>
                <br>
            </div>
            <div class="left">
                <div class="text">WEB - API INTEGRATION</div>
                <li>
                    <h3>Analyzing the interactions and data flows between API transactions and their companion apps can uncover potential security flaws that could be exploited by malicious actors.</h3>
                </li>
            </div>
            <div class="right">
                <div class="text">COMPREHENSIVE ANALYSIS</div>
                <li>A holistic approach to scanning and assessing API-based communication is needed to provide secure solution providers with a complete understanding of their system's security posture.</li>
            </div>
        </div>
    </div>
</section>

<!-- contact section start -->
<section class="contact" id="contact">
    <div class="max-width">
        <h2 class="title">Connect With Us</h2>
        <div class="contact-content">
            <div class="left">
                <div class="box">
                    <!-- <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div> -->
                    <div class="text">
                        <h3>Address</h3>
                        <p>Pune, Maharashtra</p>
                    </div>
                </div>
                <div class="box">
                    <!-- <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div> -->
                    <div class="text">
                        <h3>Email</h3>
                        <p>support@argus.com</p>
                    </div>
                </div>
                <div class="box">
                    <!-- <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div> -->
                    <div class="text">
                        <h3>Socials</h3>
                        <br>
                        <div class="social-icons">
                            <a href="https://x.com/hyp3rd1a6lo" target="_blank"><i class="fab fa-twitter"></i></a>
                            <a href="https://www.instagram.com/darshan_223_soni/" target="_blank"><i
                                    class="fab fa-instagram"></i></a>
                            <a href="https://discordapp.com/users/959868779486126102" target="_blank"><i
                                    class="fab fa-discord"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <h2>Send Message</h2>
                <p>Any Queries? Feel free to contact </p>
                <br>
                <form action="#">
                    <div class="fields">

                        <div class="button-area">
                            <button onclick="window.location.href='mailto:sonidarshan200@gmail.com';">Hello</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
</section>
{% endblock %}